body {
  background-color: rgb(248, 244, 244);
}

div.btn-group {
  padding: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255)
}

div.top {
  padding-top: 35px;
  float: top;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

.dropdown-toggle {
  display: block;
  position: absolute !important;
  background: url("./ButtonPic.jpg") no-repeat;
  background-size: 100px 100px;
  min-width: 100px;
  min-height: 100px;
}

.row {
<<<<<<< HEAD
  background-color: rgb(160, 216, 238);
<<<<<<< HEAD
  position: fixed;
  /* top: 20px; */
  width: 100%;
  text-align: center;
}

.space {
  padding: 80px 80px;
}

.centerbanner {
  padding-top: 2%;
  display: inline-block;
  margin:0 auto;
  width:100px;
}

.rightbanner {
  padding-top: 0.5%;
  float:right;
  width:100px;
}

.leftbanner {
  padding-left: 2%;
  float:left;
  width:100px;
=======
=======
  background-color: rgb(255, 255, 255);
  /* position: fixed;
  top: 20px;
  width: 100%; */
>>>>>>> save before rebase
>>>>>>> save before rebase
}

li.dropdown {
  list-style: none;
}

.borderless {
  border: none !important;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
/* .dropdown-toggle {
  aria-expanded: true;
} */

>>>>>>> save before rebase
#details {
  background: transparent;
}
>>>>>>> save before rebase

#profilepic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.post {
  width: 300px;
  height: 300px;
}

#details {
  background-color:  rgb(160, 216, 238);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.hellotop {
  float: top;
  border: solid red;
}

.hello {
  padding: 10%;
  width: 10px;
  height: 10px;
  border: solid red;
}
