body {
  background-color: rgb(248, 244, 244);
}

div.btn-group {
  padding: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255)
}

div.top {
  padding-top: 35px;
  float: top;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

.dropdown-toggle {
  display: block;
  position: absolute !important;
  background: url("./ButtonPic.jpg") no-repeat;
  background-size: 100px 100px;
  min-width: 100px;
  min-height: 100px;
}

.row {
  background-color: rgb(160, 216, 238);
  position: fixed;
  /* top: 20px; */
  width: 100%;
  text-align: center;
}

.space {
  padding: 80px 80px;
}

.centerbanner {
  padding-top: 2%;
  display: inline-block;
  margin:0 auto;
  width:100px;
}

.rightbanner {
  padding-top: .5%;
  float:right;
  width:100px;
}

.leftbanner {
  padding-left: 2%;
  float:left;
  width:100px;
}

li.dropdown {
  list-style: none;
}

.borderless {
  border: none !important;
}

#details {
  background: transparent;
}

#profilepic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.post {
  width: 300px;
  height: 300px;
}