body {
  background-color: rgb(255, 255, 255);
}

div.btn-group {
  padding: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255)
}

div.top {
  padding-top: 35px;
  float: top;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

.dropdown-toggle {
  display: block;
  position: absolute !important;
  background: url("./ButtonPic.jpg") no-repeat;
  background-size: 100px 100px;
  min-width: 100px;
  min-height: 100px;
}

.row {
  background-color: rgb(160, 216, 238);
  /* border: solid rgb(160, 216, 238); */
  position: fixed;
  /* top: 20px; */
  width: 100%;
  text-align: center;
}

.space {
  padding: 80px 80px;
}

.centerbanner {
  padding-top: 2%;
  display: inline-block;
  margin:0 auto;
  width:100px;
}

.rightbanner {
  padding-top: 0.5%;
  float:right;
  width:100px;
}

.leftbanner {
  padding-left: 2%;
  float:left;
  width:100px;
}

li.dropdown {
  list-style: none;
}

.borderless {
  border: none !important;
}


#profilepic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.post {
  margin-top: 10%;
  width: 300px;
  height: 300px;
}

#details {
  /* background-color: rgb(160, 216, 238); */
  /* position: fixed; */
  /* top: 20px; */
  border: solid rgb(160, 216, 238);
  height: 200px;
  width: 100%;
  /* text-align: center; */
}

.hellotop {
  padding-top: 2%;
  margin:0 auto;
  text-align: center;
}

.hello {
  /* padding-top: 5%; */
  padding-left: 2%;
  float:left;
  width:100px
}

.hellobottom {
  text-align: center;
}

.hellopic {
  padding-left: 12.5%;
  padding-right: 10%;
  padding-bottom: 5%;
  float: left;
}

.postview {
  margin-left: 10%;
  margin-bottom: 20px;
  width: 80%;
  border: solid rgb(160, 216, 238);
}
.commentview {
  /* border: solid rgb(139, 34, 34); */
  margin-left: 200px;
}

.contentview {
  /* border: solid rgb(139, 34, 34); */
  margin-left: 200px;
  float: top;
}

.infoview {
  border: solid rgb(160, 216, 238);
  float: left;
}

.likesview {
  margin-left: 200px;
  /* border: solid rgb(139, 34, 34); */
  float: top;
}

.profilemain {
  
  border: solid rgb(139, 34, 34);
  
}

.profileprofileinfo {
  /* margin-top: 10%;
  padding-top: 100px; */
  /* border: solid rgb(139, 34, 34);  */
}


